body {
  background-color: grey;
  margin: 10;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-align: center;
  display: grid;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-dark: rgb(0, 56, 56);
  --color-primary: rgb(0, 168, 76);
  --color-secodary: rgb(255, 255, 255);
  --color-third: rgb(86, 86, 255);
}

.card-section {
  /* background-color: red; */
  padding: 10;
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.1rem;
  float: left;
  clear: left;
}

.carrello {
  /* background-color: red; */
  padding: 10;
  display: grid;
  gap: 0.8rem;
  float: left;
  clear: left;
  width: 50%;
}

.App {
  /* background-color: blue; */
  /* padding: 10; */
  display: grid;
  gap: 0.8rem;
  /* float: left;
  clear: left;
  width: 50%; */
}

.card {
  width: 95%;
  /* background-color: yellow; */
  /* display: grid; */
  /* padding: 1rem 0.4rem 0rem 0.4rem; */
  /* gap: 0.4rem; */
  /* place-items: center; */
}

.card img {
  border-radius: 1rem;
  background-color: transparent;
  width: 160px;
  height: 120px;
}

.card hr {
  width: 100%;
  height: 3px;
  border: 0;
  background-color: var(--color-primary);
}

.card p {
  color: var(--color-primary);
}

article {
  background-color: var(--color-dark);
  position: relative;
  border-radius: 1rem;
  box-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2);
  display: grid;
  /* gap: 10px; */
  /* 0.4rem; */
  place-items: center;
  width: 200px;
  height: 360px;
}

article::after {
  background-color: var(--color-dark);
  color: var(--color-secodary);
  position: absolute;
  top: 8px;
  left: 8px;
  padding: 0.1rem;
  content: "@";
  border-radius: 50%;
  font-weight: 700;
}

article .card-time {
  width: 100%;
  text-align: center;
  background-color: var(--color-third);
  color: var(--color-dark);
}

article button {
  display: inline-block;
  padding: 0.2rem 2rem;
  border-radius: 8px;
  border: 2px solid var(--color-third);
  background-color: var(--color-dark);
  color: var(--color-third);
  font-weight: 700;
  transition: all 125ms ease;
}

article button:hover {
  border: 2px solid var(--color-dark);
  background-color: var(--color-third);
  color: var(--color-dark);
  transform: scale(1.08);
  cursor: pointer;
}

.eli-div {
  float: left;
  display: block;
  width: 200px;
  clear: both;
}

.eli-clear {
  clear: both;
}